body {
    font-family: sans-serif;
    margin: 0;
    background-color: #fdfaf2;
}

header {
    background: #333;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
  font-family: serif;
  letter-spacing: 3px;
  font-size: 1.6rem;
  font-weight: normal;
}

.logo span{
  display: block;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: #ffcc00;
  margin-top: 4px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

nav a:hover {
    color: #ffcc00;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ffcc00;
    transition: 0.3s;
}

nav a:hover::after{
    width: 100%;
}

.hero {
    color: white;
    height: 50vh;

    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/hero.webp)
    /*url("https://picsum.photos/1200/600")自動で画像があてられる*/;

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px; /* 数字を大きくするほど丸くなるよ */
    margin: 20px;
}

.hero h2 {
    font-size: 2rem;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    border-left: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
}

/* mainの中を横並びにする
main {
    display: flex;
    gap: 40px;
}
  mainから直下のsectionへ
main > section {
    flex: 3;
}
*/

aside {
    padding: 40px 20px;
    background: #f3e9d9;
    border-radius: 15px;
    margin: 0 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

aside img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    filter: brightness(1.2) saturate(1.15) contrast(1.08);
}

aside p{
    color: #bc6c25;
  font-weight: bold;
  font-size: 1.1rem;
}

section h2,aside h2{
  border-left: 5px solid #6b795c;
  padding-left: 15px;
  margin-bottom: 25px;
  border-bottom: none;
  display: block;
}

section {
    padding: 40px 20px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.menu-card {
    background-color: #ffffff;
    border: 1px solid #eee;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}

.menu-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.menu-card p {
  color: #bc6c25;
  font-weight: bold;
  font-size: 1.1rem;
}

.news-list {
  list-style: none;
  padding: 0;
}

.news-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.news-list span {
  font-weight: bold;
  margin-right: 10px;

  color: #6b705c;
  font-weight: bold;
}

.recommend-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.recommend-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.recommend-card img {
  width: 100%;
  border-radius: 8px;
}

.recommend-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


footer {
    background: #4a3933;
    color: #fdfaf2;
    text-align: center;
    padding: 20px;
}


/* メディアクエリ */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: flex-end;
  }

nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    text-align: right;
  }

  .hero {
    height: 40vh;
  }

  aside img {
    max-width: 100%;
    width: 100%; /* 親要素の幅に合わせる */
  }

}

